<html>
    <head>
    </head>
    <body>
        <table class = "table">
            <colgroup span="3"></colgroup>
            <thead>
                  <tr>
                    <th>ALUNO</th>
                    <th>NOTA1</th>
                    <th>NOTA2</th>
                    <th>MEDIA</th>
                  </tr>
                  <tr>
            </thead>
            <tbody>
                  <tr>
                    <td>FULANO</td>
                    <td>7.5</td>
                    <td>7.7 </td>
                    <td>7.6</td>
                  </tr>
            </tbody>
        </table>
    </body>
</html>
